support/samples/SupportLeanbackJank/src/main/res/raw/*.mp4 filter=lfs diff=lfs merge=lfs -text
base/media/tests/contents/media_api/videoeditor/*.mp4 filter=lfs diff=lfs merge=lfs -text
base/docs/downloads/design/*.zip filter=lfs diff=lfs merge=lfs -text
